

<!DOCTYPE html>
<html>
    <body>
        <!--Banner-->
        <div class="container-fluid" style="height: 50px">
            <div class="row bg-verdeclaro">
                <div class="col-md-4">
               
                </div>
            </div>
        </div>
        <!--fin Banner-->
        <div class="container-fluid">
            <!--inicia formulario-->
            <div class="row justify-content-center my-4">
                <div class="col-md-6 bg-verdeoscuro">
                    <div class="container bg-principal py-3 rounded ">
                        <div class="row">
                            <div class="col-12 text-center">
                                <p class="fw-bold h1 text-light">Crea una Cuenta</p>
                            </div>

                        </div>

                        <div class="row">
                            <form [formGroup]="formRegistroPaciente" class="" id="formulario">

                                <div class="row">
                                    <!-- Grupo: Nombre -->
                                    <div class="form-group col-md-6" id="grupo__nombre">
                                        <label for="nombre" class="formulario__label">Nombres</label>
                                        <div class="formulario__grupo-input">
                                            <input type="text" 
                                                   class="form-control" 
                                                   formControlName="nombres"
                                                   placeholder="Jean Claud" 
                                                   value=""
                                                   [ngClass]="{'is-invalid': obtenerFormRegistroPacienteError('nombres') === 'Invalid'}"
                                                   >
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>
                                            <p class="text-danger pt-1" *ngIf="obtenerFormRegistroPacienteError('nombres') === 'Invalid'">
                                              Nombres es requerido.
                                            </p>
                                    </div>
                                    <!-- Grupo: Apellido -->
                                    <div class="form-group col-md-6" id="grupo__apellido">
                                        <label for="apellido" class="formulario__label">Apellidos</label>
                                        <div class="formulario__grupo-input">
                                            <input  type="text" 
                                                    class="form-control" 
                                                    name="apellido" 
                                                    id="apellido"
                                                    placeholder="Van Damme" 
                                                    value=""
                                                    formControlName="apellidos"
                                                    [ngClass]="{'is-invalid': obtenerFormRegistroPacienteError('apellidos') === 'Invalid'}"
                                                    >
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>
                                        <p class="text-danger pt-1" *ngIf="obtenerFormRegistroPacienteError('apellidos') === 'Invalid'">
                                            Apellidos es requerido.
                                        </p>                                       
                                    </div>
                                </div>

                                <div class="row">
                                    <!-- Grupo: Tipo de Documento -->
                                    <div class="form-group col-md-6" id="grupo__tipodocumento">
                                        <label for="tipo_documento" class="formulario__label">Tipo de Documento</label>
                                        <div class="formulario__grupo-input">
                                            <select class="form-select" 
                                                    name="tipodocumento" 
                                                    id="tipodocumento"
                                                    formControlName="tipo_documento"
                                                    >
                                                <option selected value="">Selecciona</option>
                                                <option value="Dni">Dni</option>
                                                <option value="CE">CE</option>
                                            </select>

                                        </div>
                                        <p class="text-danger pt-1" *ngIf="obtenerFormRegistroPacienteError('tipo_documento') === 'Invalid'">
                                            Tipo de documento es requerido.
                                        </p>        
                                    </div>
                                    <!-- Grupo: DNI -->
                                    <div class="form-group col-md-6" id="grupo__dni">
                                        <label for="dni" class="formulario__label">Numero de Documento</label>
                                        <div class="formulario__grupo-input">
                                            <input  type="text" 
                                                    class="form-control" 
                                                    name="dni" 
                                                    id="dni"
                                                    placeholder="DNI ó CE" 
                                                    value=""
                                                    formControlName="numero_documento"
                                                    [ngClass]="{'is-invalid': obtenerFormRegistroPacienteError('numero_documento') === 'Invalid'}"
                                                    (blur)="validarNroDocPaciente()"
                                                    >
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>
                                        <p class="text-danger pt-1" *ngIf="obtenerFormRegistroPacienteError('numero_documento') === 'Invalid'">
                                            Numero de documento es requerido.
                                        </p>  
                                    </div>
                                </div>

                                <div class="row">
                                    <!-- Grupo: Correo Electronico -->
                                    <div class="form-group col-md-6" id="grupo__correo">
                                        <label for="correo" class="formulario__label">Correo Electrónico</label>
                                        <div class="formulario__grupo-input">
                                            <input  type="email" 
                                                    class="form-control" 
                                                    name="correo" 
                                                    id="correo"
                                                    placeholder="correo@correo.com" 
                                                    value=""
                                                    formControlName="email"
                                                    [ngClass]="{'is-invalid': obtenerFormRegistroPacienteError('') === 'Invalid'}"
                                                    (blur)="validarEmailPaciente()"
                                                    >
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>
                                        <p class="text-danger pt-1" *ngIf="obtenerFormRegistroPacienteError('email') === 'Invalid'">
                                            Correo es requerido.
                                        </p>  
                                    </div>

                                    <!-- Grupo: Contraseña -->
                                    <div class="form-group col-md-6" id="grupo__password">
                                        <label for="password" class="formulario__label">Contraseña</label>
                                        <div class="formulario__grupo-input">
                                            <input  type="password" 
                                                    class="form-control" 
                                                    name="password" 
                                                    id="password" 
                                                    placeholder="Password" 
                                                    value=""
                                                    formControlName="contrasenia"
                                                    [ngClass]="{'is-invalid': obtenerFormRegistroPacienteError('') === 'Invalid'}"
                                                    >
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>
                                        <p class="text-danger pt-1" *ngIf="obtenerFormRegistroPacienteError('contrasenia') === 'Invalid'">
                                            Contraseña es requerida.
                                        </p> 
                                    </div>
                                </div>

                                <div class="row">
                                    <!-- Grupo: Celular -->
                                    <div class="form-group col-md-6" id="grupo__telefono">
                                        <label for="telefono" class="formulario__label">Celular</label>
                                        <div class="formulario__grupo-input">
                                            <input  type="text" 
                                                    class="form-control" 
                                                    name="telefono" 
                                                    id="telefono"
                                                    placeholder="987 654 321" 
                                                    value=""
                                                    formControlName="celular"
                                                    [ngClass]="{'is-invalid': obtenerFormRegistroPacienteError('') === 'Invalid'}"
                                                    >
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>
                                        <p class="text-danger pt-1" *ngIf="obtenerFormRegistroPacienteError('celular') === 'Invalid'">
                                            Celular es requerido.
                                        </p> 
                                    </div>
                                </div>
                                <div class="form-group mt-3 text-center">
                                    <a  class="btn btn-secondary fs-4 me-3" 
                                        routerLink="/login"
                                        >
                                        Volver
                                    </a>
                                    <input  type="submit" 
                                            name="accion" 
                                            value="Registrar" 
                                            [disabled]="!formRegistroPaciente.valid"                                        
                                            class=" flex btn btn-secondary fs-4"
                                            (click)="registrarUsuarioPaciente()"
                                            >
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
