        <!-- 
            HttpSession sesion = request.getSession();
            Usuario usu = (Usuario) sesion.getAttribute("user");//se guarda el login
            if (usu != null) {//si se logueo bien ingresa
                if (!usu.getNombrerol().equalsIgnoreCase("Paciente")) { //si el admin quiere ir al index no lo dejará hasta que cierre Sesión
                    request.getRequestDispatcher("administrador.jsp").forward(request, response);

                }
            }
         -->
        <div class="container-fluid">
            <!--Menu-->
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <a style="color:#44469D; font-weight: bold"  class="navbar-brand " href="principal.jsp">CitaMed Online</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a style="color:#44469D; font-weight: bold" class="nav-link textomenu" aria-current="page" href="#">SERVICIOS</a>
                            </li>
                            <li class="nav-item">
                                <a style="color:#44469D; font-weight: bold" class="nav-link textomenu" href="#">CONVENIOS</a>
                            </li>
                            <li class="nav-item">
                                <a style="color:#44469D; font-weight: bold" class="nav-link textomenu" href="#">PROMOCIONES</a>
                            </li>
                            <li class="nav-item">
                                <a style="color:#44469D; font-weight: bold" class="nav-link textomenu">SEDES</a>
                            </li>
                            <li class="nav-item">
                                <a style="color:#44469D; font-weight: bold" class="nav-link textomenu">RESULTADOS COVID 19</a>
                            </li>
                           <!--Dropdown-->
                           <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a style="color:#44469D; font-weight: bold;border: 1px solid;border-radius: 10px" class="nav-link dropdown-toggle textomenu" href="#" id="navbarDropdownMenuLink"
                                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <!-- <i class="fa fa-user"></i> ${user.getNombre()} ${user.getApellido()} -->
                                    </a>
                                    <ul style="top: 32px;right: 30px;" class="dropdown-menu dropdown-menu-end text-center bg-light text-Dark"
                                        aria-labelledby="navbarDropdownMenuLink">
                                        <li><a style="color: black !important;" class="dropdown-item text-Dark" routerLink="/paciente/citas">Historial de Citas</a></li>
                                        <li><a style="color: black !important;" class="dropdown-item text-Dark" routerLink="/login">Salir</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </nav>
            <!--Body-->
            <div style="background:#44469D;padding: 20px; " class="">
                <p class="text-light fw-bold"> <img style="width: 50px;" src="../../assets/img/icon-doctor.png" />Historial de Citas</p>
            </div>
            <div class="container">
                <div class="container justify-content-center">
                    <div class="row pt-2 pb-2 text-center">
                        <p style="color:#ffb300; font-weight: bold" >Mira tu historial de citas... Próximas y Pasadas.</p>
                    </div>
                    <div class="row justify-content-center">
                        <table style="width: 80%;" class="">
                            <thead>
                                <tr style="text-align: center;">
                                    <td style="text-align: center;background: #5AC5C3;color: #fff;">Fecha Compra</td>
                                    <td style="text-align: center;background: #5AC5C3;color: #fff;">Paciente</td>
                                    <td style="text-align: center;background: #5AC5C3;color: #fff;">Especialidad</td>
                                    <td style="text-align: center;background: #5AC5C3;color: #fff;">Medico</td>
                                    <td style="text-align: center;background: #5AC5C3;color: #fff;">Fecha y hora de Reserva</td>
                                    <td style="text-align: center;background: #5AC5C3;color: #fff;">Precio S/.</td>
                                    <td style="text-align: center;background: #5AC5C3;color: #fff;">Estado</td>
                                </tr>
                            </thead>
                            <tbody>
                                @for (hist of listaHistorialCitas; track hist ; let index = $index) {
                                    <tr>
                                        <td style="text-align: center;">{{ hist.fecha }}</td>
                                        <td style="text-align: center;">{{ hist.paciente.usuario.nombre }} {{ hist.paciente.usuario.apellido }}</td>
                                        <td style="text-align: center;">{{ hist.doctor.especialidad.nombre_especialidad }}</td>
                                        <td style="text-align: center;">{{ hist.doctor.usuario.nombre }} {{ hist.doctor.usuario.apellido }}</td>
                                        <td style="text-align: center;">{{ hist.disponibilidad.descripcion }} </td>
                                        <td style="text-align: center;">{{ hist.doctor.especialidad.precio_especialidad	 }} </td>
                                        <td style="text-align: center;">{{ hist.estado == 0 ? 'Pendiente' : 'Completada' }}</td>
                                    </tr>
                                  } @empty {
                                    <tr class="text-center"> 
                                        <td colspan="7">  No hay citas registradas, intenta realizar una cita...</td>
                                    </tr>
                                  }
                               
                            </tbody>
                        </table>
                    </div>
        
                    <div style="width: 80%;margin:20px auto;justify-content: space-evenly;" class="row">
                        <a style="width: auto;padding: 10px;background: #44469D;color: #ffff;border-radius: 10px;display: flex;justify-content: center;font-size: 20px;font-weight: bold;"
                           class="text-decoration-none" routerLink="/paciente/selecionar-cita" >Programar una cita</a>
                    </div>
            </div>
        </div>