<html>
        <!-- 
            HttpSession sesion = request.getSession();
            Usuario usu = (Usuario) sesion.getAttribute("user");//se guarda el login
            if (usu != null) {//si se logueo bien ingresa
                if (!usu.getNombrerol().equalsIgnoreCase("Paciente")) { //si el admin quiere ir al index no lo dejará hasta que cierre Sesión
                    request.getRequestDispatcher("administrador.jsp").forward(request, response);

                }
            }
         -->
        <div class="container-fluid">
            <!--Menu-->
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <a style="color:#44469D; font-weight: bold"  class="navbar-brand " href="principal.jsp">CitaMed Online</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a style="color:#44469D; font-weight: bold" class="nav-link textomenu" aria-current="page" href="#">SERVICIOS</a>
                            </li>
                            <li class="nav-item">
                                <a style="color:#44469D; font-weight: bold" class="nav-link textomenu" href="#">CONVENIOS</a>
                            </li>
                            <li class="nav-item">
                                <a style="color:#44469D; font-weight: bold" class="nav-link textomenu" href="#">PROMOCIONES</a>
                            </li>
                            <li class="nav-item">
                                <a style="color:#44469D; font-weight: bold" class="nav-link textomenu">SEDES</a>
                            </li>
                            <li class="nav-item">
                                <a style="color:#44469D; font-weight: bold" class="nav-link textomenu">RESULTADOS COVID 19</a>
                            </li>
                            <!--Dropdown-->
                            <!-- <c:if test="${user != null}">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                        <a style="color:#44469D; font-weight: bold;border: 1px solid;border-radius: 10px" class="nav-link dropdown-toggle textomenu" href="#" id="navbarDropdownMenuLink"
                                           role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-user"></i> ${user.getNombre()} ${user.getApellido()}
                                        </a>
                                        <ul style="top: 32px;right: 30px;" class="dropdown-menu dropdown-menu-end text-center bg-light text-Dark"
                                            aria-labelledby="navbarDropdownMenuLink">
                                            <li><a style="color: black !important;" class="dropdown-item text-Dark" href="UsuarioLoginServlet?accion=verHistorial">Historial de Citas</a></li>
                                            <li><a style="color: black !important;" class="dropdown-item text-Dark" href="UsuarioLoginServlet?accion=salir">Salir</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </c:if> -->
                        </ul>
                    </div>
                </div>
            </nav>
            <!--Body-->
            <div style="background:#44469D;padding: 20px; " class="">
                <p class="text-light fw-bold"> <img style="width: 50px;" src="../../assets/img/icon-doctor.png" /> COMPRA TU CITA PRESENCIAL</p>
            </div>
            <div class="container">
                <form [formGroup]="formCrearReserva">
                    <div style="margin-top: 20px;" class="row">
                        <!-- Informacion personal -->
                        <div class="col-md-4">
                            <div id="infoAdicional" 
                                style="border: 1px solid #5AC5C3;padding: 15px;border-radius: 30px;"
                                [ngClass]="{'CustomDisable':infoPersonalDisable}"
                                >
                                <h4 style=" color: #44469D; ">COMPLETAR LOS DATOS</h4>
                                <div class="form-group">
                                    <label for="nombre" class="" style="color:#44469D;">Nombre del paciente</label>
                                    <input 
                                    style="text-align: center;" 
                                    type="text" disabled class="form-control" 
                                    name="nombre" id="nombre"
                                    value="{{ usuarioLogin?.nombre }} {{ usuarioLogin?.apellido }}">
                                </div>
                                <div class="form-group">
                                    <label for="cboRol">Especialidad</label>
                                    <select style="text-align: center;" class="form-select" 
                                        name="cboEspecialidad" 
                                        id="cboEspecialidad"
                                        (change)="obtenerDoctoresPorEspecialidad('Crear')"
                                        formControlName="especialidadC"
                                        placeholder="Selecionar..."
                                        >
                                        @for (especialidad of listaEspecialidades$ | async; track especialidad ; let index = $index) {
                                            <option value="{{ especialidad.ID_especialidad }}">{{especialidad.nombre_especialidad}}</option>
                                        } @empty {
                                            <option>Sin datos</option>
                                        }
                                    </select>
                                </div>
                                <!-- <p class="text-danger pt-1" *ngIf="obtenerFormCrearConsultorioError('especialidadC') === 'Invalid'">
                                    Especialidad es requerido.
                                </p> -->
                                <!-- Grupo: Doctores -->
                                <div class="form-group">
                                    <label for="cboRol">Medico</label>
                                    <select style="text-align: center;" class="form-select" 
                                        name="cboDoctores" 
                                        id="cboDoctores"
                                        placeholder ="Selecionar..."
                                        (change)="obtenerConsultorioPorDoctor()"
                                        formControlName="doctorC"
                                        >
                                        @for (doctor of listaDoctores ; track doctor ; let index = $index) {
                                            <option value="{{ doctor.ID_doctor }}">{{ doctor.usuario.nombre }}</option>
                                        } @empty {
                                            <option>Sin datos</option>
                                        }
                                    </select>
                                </div>
                                <!-- <p class="text-danger pt-1" *ngIf="obtenerFormCrearConsultorioError('doctorC') === 'Invalid'">
                                    Medico es requerido.
                                </p>  -->
                                <div class="form-group" id="">
                                    <label for="dni" class="formulario__label">Consultorio</label>
                                    <div class="formulario__grupo-input">
                                        <input  type="text" 
                                                class="form-control text-center" 
                                                placeholder="" 
                                                value="{{ ubicacionConsultorio }}"
                                                formControlName="consultorioC"
                                                >
                                    </div>
                                </div>


                                <div style="margin: 15px 0px 2px 0px;" class="form-group">
                                    <a  style="padding: 10px;background: #44469D;color: #ffff;border-radius: 10px;display: flex;justify-content: center;font-size: 20px;font-weight: bold;" 
                                        class="text-decoration-none"  
                                        (click)="seleccionarInfoPersonal()"
                                        [ngClass]="{'CustomDisabled':infoPersonalDisable}"  
                                        >
                                        <i style="margin-right: 5px;padding-top: 5px;" class="fas fa-search">
                                        </i>
                                    Siguiente
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Fecha y hora -->
                        <div class="col-md-4">
                            <div id="calendario" style="border: 1px solid #5AC5C3;padding: 15px;border-radius: 30px;">
                                <h4 style="color: #44469D;">SELECCIONA LA FECHA DE TU DIA DE CITA</h4>
                                <div>
                                    <app-custom-calendar-date (valorFechaEmit)="recibirFechaModelo($event)" >
                                    </app-custom-calendar-date>
                                    <div style="margin: 15px 0px 2px 0px;" class="form-group">
                                        <a  style="padding: 10px;background: #44469D;color: #ffff;border-radius: 10px;display: flex;justify-content: center;font-size: 20px;font-weight: bold;" 
                                            (click)="obtenerDisponibilidadPorDoctor()"
                                            [ngClass]="{'CustomDisabled':calendarioDisable}"      
                                            class="text-decoration-none"  
                                            >
                                            <i style="margin-right: 5px;padding-top: 5px;" class="fas fa-search">
                                            </i>
                                        Siguiente
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- turno -->
                        <div class="col-md-4">
                            <div id="Hora_cita" style="border: 1px solid #5AC5C3;padding: 15px;border-radius: 30px;">
                                <h4 style="color: #44469D;">SELECCIONA LA HORA TU DIA DE CITA</h4>
                                <div class="">
                                    <div  class="row d-flex flex-row justify-content-center py-2">
                                        @for( disDoc of  listaDisDoctor ; track disDoc ; let index = $index  ){
                                            <div class="col-md-2">
                                                <a  
                                                    style="display: flex;padding: 10px 1px;background: #5AC5C3;color: #fff;border-radius: 10%;font-size: 14px;justify-content: center;font-weight: bold;cursor: pointer;" 
                                                    class="text-decoration-none btn-hora">
                                                    <input class="form-check-input" 
                                                           name="turnoC" 
                                                           [value]="disDoc.ID_disponibilidad" 
                                                           formControlName="turnoC" 
                                                           type="radio" >    
                                                    {{ disDoc.descripcion }}
                                                </a>
                                            </div>
                                        }
                                    </div>
                                </div>

                                <div style="margin: 15px 0px 2px 0px;" class="form-group">
                                    <a  style="padding: 10px;background: #44469D;color: #ffff;border-radius: 10px;display: flex;justify-content: center;font-size: 20px;font-weight: bold;" 
                                        class="text-decoration-none" 
                                        (click)="seleccionarTurno()"
                                        [ngClass]="{'CustomDisabled':turnoDisable}" 
                                        >
                                        <i style="margin-right: 5px;padding-top: 5px;" class="fas fa-search">
                                        </i>
                                    Siguiente
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Resumen-->
                    <div id="resumenpedido" class="row pt-4 justify-content-center">
                        <div class="col-md-9">
                            <div>
                                <div style="border: 1px solid #5AC5C3;padding: 15px;border-radius: 30px;">
                                    <h4 style="color: #44469D;">Resumen de Reserva</h4>
                                    <!-- <input type="hidden" class='codigousuario' name="codigousuario" value=${user.getIdusuario()}> -->
                                    <!-- <p class="text-uppercase"><img style="width: 20px;padding-bottom: 5px;" src="img/icon-nombre.png" alt=""/> <span style="font-weight: bold">PACIENTE:</span> <span id="paciente-resumen">${user.getNombre()} ${user.getApellido()}</span></p> -->
                                    <p class="text-uppercase"><img style="width: 20px;padding-bottom: 5px;" src="../../assets/img/icon-especialidad.png" alt=""/> <span style="font-weight: bold">ESPECIALIDAD:</span> <span id="especialidad_resumen">{{litEspecialidad}}</span></p>
                                    <p class="text-uppercase"><img style="width: 20px;padding-bottom: 5px;" src="../../assets/img/icon-medico.png" alt=""/> <span style="font-weight: bold">MEDICO:</span> <span id="medico-resumen">{{litMedico}}</span></p>
                                    <p><img style="width: 20px;padding-bottom: 5px;" src="../../assets/img/icon-fechahora.png" alt=""/> <span style="font-weight: bold">TURNO:</span> <span id="fecha_resumen"></span> <span id="hora-resumen">{{litTurno}}</span></p>
                                    <div style="display: flex;justify-content: end;margin: 10px"><a style="padding: 10px;background: #44469D;color: #ffff;border-radius: 10px;display: flex;justify-content: center;font-size: 20px;font-weight: bold;width: 120px;" class="text-decoration-none">S/ <span class="precio_btn"></span>.00</a></div>
                                    <a 
                                        style="padding: 10px;background: #44469D;color: #ffff;border-radius: 10px;display: flex;justify-content: center;font-size: 20px;font-weight: bold;cursor: pointer;" 
                                        class="text-decoration-none btn-reservar"
                                        (click)="grabarReserva()"
                                        >
                                        Reservar y pagar
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
</html>
